.header {
  font-family: "Roboto Condensed";
  padding: 28px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__btns-mobile {
  display: none;
}

.btn {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn img {
  color: #ffffff;
}

.header__menu--mobile {
  display: none;
}

.header__menu--mobile-active {
  display: block;
}

.header__menu-item {
  margin-right: 20px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.header__menu-item a {
  color: #000000;
}

.header__menu-item:hover a {
  color: #0076bd;
}

.header__callback a {
  padding-left: 7px;
  vertical-align: middle;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #0c4f9e;
}

.button__consultation {
  border: 1px solid #0c4f9e;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 11px 20px 11px;
  margin-right: 23px;
  color: #0c4f9e;
}

.button__buy {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 11px;
  background: #0c4f9e;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  margin-left: 23px;
  color: #ffffff;
}

.header__burger {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  display: none;
}

.header__burger span {
  width: 20px;
  height: 2px;
  background-color: #0C4F9E;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
}

.header__burger span::before,
.header__burger span::after {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #0C4F9E;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  display: block;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__burger span::before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__burger span::after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.header__burger-active span {
  height: 0;
}

.header__burger-active span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger-active span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.promo__slider-item {
  height: 100vh !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: relative;
}

.promo__title {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 80px;
  text-transform: uppercase;
  color: #0076bd;
  padding: 125px 0 0 0px;
  margin-bottom: 20px;
}

.promo__title span {
  font-size: 70px;
  display: block;
}

.promo__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 37.926px;
  line-height: 44px;
  letter-spacing: 0.01em;
  color: #0076bd;
  margin-left: 100px;
  position: relative;
}

.promo__subtitle::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #6ACFF6;
  position: absolute;
  top: 20px;
  left: -95px;
  display: inline-block;
}

.promo__subtitle span {
  text-transform: uppercase;
}

.promo__arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #0076bd;
  outline: none;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.promo__arrow--prev {
  position: absolute;
  top: 56%;
  left: 0%;
}

.promo__arrow--next {
  position: absolute;
  top: 56%;
  right: 0;
}

/*slider dots*/

.promo .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0px 0;
  list-style-type: none;
  position: absolute;
  top: 90%;
  width: 100%;
}

.promo .slick-dots li {
  margin: 0 10px;
}

.promo .slick-dots button {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 2px solid #0076bd;
  border-radius: 100%;
  background-color: #0076bd;
  text-indent: -9999px;
}

.promo .slick-dots li.slick-active button {
  background-color: transparent;
}

.advantages {
  padding: 120px 80px;
  font-family: "Fira Sans";
}

.title__block {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 44px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 76px;
  background-repeat: no-repeat;
  background-position: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
  position: relative;
}

.title__img {
  position: absolute;
}

.section__title span {
  color: #0076bd;
}

.secttion__subttile {
  color: #0076bd;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 85px;
}

.advantages__description {
  margin-left: 70px;
}

.revers {
  margin-left: 0;
  margin-right: 0px;
}

.description__title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #111111;
  max-width: 462px;
  margin-bottom: 38px;
}

.description__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #000000;
  position: relative;
  padding-left: 37px;
  margin-bottom: 31px;
}

.description__text::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/done.svg");
}

.revers {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.about__title {
  position: relative;
  padding-left: 80px;
}

.about__title::before {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #6ACFF6;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  display: inline-block;
}

.about__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid #6ACFF6;
}

li.tab__about {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li.tab__about.active .about__tabs-item {
  background: #6ACFF6;
  color: #ffffff;
}

.about__tabs-item {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  display: block;
  display: block;
  padding: 15px;
  text-align: center;
  color: #666666;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
}

.about__item {
  font-family: "Fira Sans", sans-serif;
}

.about__title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 41px;
  color: #0076bd;
}

.about__description {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 66px;
  color: #222222;
}

.about__description span {
  color: #0076bd;
}

.about__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first__block {
  margin-right: 40px;
}

.about__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.about__item-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: 18px;
}

.about__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: -55px;
}

.about__price-item {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */
  padding: 16px 28px 13px 28px;
  color: #ffffff;
  background: #6acff6;
  margin-right: 39px;
}

.about__price-item span {
  font-size: 21px;
}

.button__buy {
  margin-left: 0;
}

.about__buy {
  display: block;
  vertical-align: middle;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  text-transform: uppercase;
  padding: 22px 73px 22px 73px;
  margin-right: 25px;
  margin-left: 44px;
  color: #FFFFFF;
}

.about__buy img {
  width: 31px;
  height: 27px;
  padding-left: 5px;
}

.about__buy a {
  color: #fff;
}

.about__description-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15.1869px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  margin-left: 60px;
  color: #0076bd !important;
}

.about__description-price img {
  margin-right: 16px;
}

.partners {
  padding: 100px 0;
  font-family: "Fira Sans", sans-serif;
}

.partners__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}

.partners__slider-item {
  -ms-flex-preferred-size: 19%;
      flex-basis: 19%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  max-width: 100%;
  height: 116px !important;
  max-height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners__image {
  text-align: center;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__image img {
  margin: auto;
}

.partners__name {
  font-weight: 300;
  font-size: 22px;
  line-height: 44px;
  margin-top: 15px;
  letter-spacing: 0.01em;
  color: #222222;
  text-align: center;
}

.parents__arrows {
  position: relative;
}

.parents__arrow {
  padding: 0;
  background: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 65%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.parents__arrow--prev {
  left: -1rem;
}

.parents__arrow--next {
  right: -1rem;
}

.work {
  padding: 70px 0 120px 0;
}

.work__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__tabs a {
  color: #222;
}

.active .work__tabs-item {
  background: #0076bd;
  color: #fafafa;
}

.active .work__tabs-item span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  color: #0076bd;
  vertical-align: middle;
  padding-left: 4px;
}

.work__li:last-child .work__tabs-item::after {
  content: none;
}

.work__tabs-item {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #222222;
  background: #fafafa;
  padding: 20px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.work__tabs-item span {
  margin-right: 10px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding-left: 4px;
}

.work__tabs-item::after {
  content: '';
  width: 140px;
  height: 2px;
  background-color: #FAFAFA;
  position: absolute;
  top: 50%;
  right: -140px;
  display: inline-block;
}

.work__tabs-item:hover::after {
  background: #0076bd;
  color: #fafafa;
}

.work__tabs-item:hover::after span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  color: #0076bd;
  vertical-align: middle;
  padding-left: 4px;
}

.work__tabs-item:hover {
  background: #0076bd;
  color: #fafafa;
}

.work__tabs-item:hover span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  color: #0076bd;
  vertical-align: middle;
  padding-left: 4px;
}

.work__tabs-item:focus {
  background: #0076bd;
  color: #fafafa;
}

.work__tabs-item:focus span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  color: #0076bd;
  vertical-align: middle;
  padding-left: 4px;
}

.work__tabs-item:focus::after {
  background: #0076bd;
  color: #fafafa;
}

.work__tabs.active {
  background: #0076bd;
  color: #fafafa;
}

.work__tab-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 122px;
}

.tab__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab__text-wrapper {
  max-width: 430px;
  margin-left: 30px;
}

.tab__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #111;
}

.tab__description {
  font-family: "Fira Sans", sans-serif;
  max-width: 460px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}

.company {
  padding: 100px 0px 140px 0;
  position: relative;
}

.company__wrapper {
  font-family: "Fira Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company__description {
  max-width: 616px;
}

.description__title-company {
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 9px;
}

.description__text-company {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 56px;
}

.description__text-company b {
  line-height: 25px;
}

.company__map {
  position: absolute;
  top: 70px;
  right: 0;
}

.footer__company {
  background: -webkit-gradient(linear, left bottom, left top, from(#57585b), to(#57585b));
  background: -o-linear-gradient(bottom, #57585b, #57585b);
  background: linear-gradient(0deg, #57585b, #57585b);
  font-family: "Fira Sans", sans-serif;
  padding: 35px 0 11px 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-right: 187px;
}

.footer__menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__menu-item {
  margin-right: 20px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-right: 32px;
}

.footer__list a {
  color: #ffffff;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  text-align: center;
  color: #FFFFFF;
}

.release {
  position: relative;
  background: #fafafa;
  background: #fafafa;
  padding: 60px 0 40px 0;
}

.release .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0px 0;
  list-style-type: none;
  position: absolute;
  top: 110%;
  width: 100%;
}

.release .slick-dots li {
  margin: 0 20px 0 0;
}

.release .slick-dots button {
  display: block;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 1px solid #0076bd;
  border-radius: 100%;
  background-color: #0076bd;
  text-indent: -9999px;
}

.release .slick-dots li.slick-active button {
  background-color: transparent;
}

.slick-dots {
  position: absolute;
  top: 20%;
  width: 100%;
  -webkit-transform: translateX(-1%);
      -ms-transform: translateX(-1%);
          transform: translateX(-1%);
}

.section__subtitle {
  color: #0076bd;
}

.slider__photo-item {
  text-align: center;
  margin-right: 52px;
  padding: 0 0;
}

.slider__photo-item img {
  opacity: .6;
  margin: 0 auto;
}

.slider__photo-item {
  position: relative;
}

.slider__photo-item.slick-active {
  position: relative;
}

.slider__photo-item.slick-active img {
  opacity: 1;
}

.slider__photo-item.slick-active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/zoom-in.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 8;
}

.slider__photo-item.slick-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 118, 189, 0.5);
}

.release__slider-comment {
  z-index: 1;
  margin-top: 60px;
  font-family: "Fira Sans", sans-serif;
}

.slider__text {
  width: 100%;
  max-width: 820px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  width: 100%;
  max-width: 817px;
  margin: 0 auto;
  margin-top: 76px;
  color: #000000;
}

.slider__text p {
  margin-bottom: 20px;
}

.slider__author {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__numbers {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #0076bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 31px;
}

.slider__numbers span {
  display: inline-block;
  margin-right: 85px;
  position: relative;
}

.slider__numbers span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 30px;
  background-color: #0076bd;
  width: 52px;
  height: 1px;
}

.release__arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-widget-header {
  border: none;
  background: none;
  color: #333333;
  font-weight: bold;
}

.ui-widget-content a {
  color: #fff;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@media (max-width: 1680px) {
  .promo__slider-item {
    height: 100vh !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 1280px) {
  img {
    max-width: 100%;
  }

  .container {
    margin: 0 10%;
  }

  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }

  .promo__arrow {
    display: block;
  }

  .promo__arrow--prev {
    position: absolute;
    top: 60%;
    left: 2%;
  }

  .promo__arrow--next {
    position: absolute;
    top: 60%;
    right: 2%;
  }

  .promo__slider-item {
    background-size: contain;
  }

  .promo__wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }

  .advantages__item .revers {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .advantages__description {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 600px;
  }

  .description__title {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .description__text {
    margin-bottom: 15px;
  }

  .about__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tab__about {
    border-bottom: 3px solid #6acff6;
    border-top: 3px solid #6acff6;
  }

  .tab__about:last-child {
    border-bottom: none;
    border-top: none;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 35px;
  }

  .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__price {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .about__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .title__block {
    margin-bottom: 15px;
  }

  .button__buy {
    margin-left: 40px;
  }

  .about__description-price {
    margin-left: 40px;
  }

  .work__tabs-item {
    padding: 20px 80px;
  }

  .company__map {
    position: absolute;
    top: 0px;
    right: 0;
  }

  .company {
    padding: 70px 0 90px 0;
    position: relative;
  }

  .header__menu--mobile,
  .header__menu--mobile-active {
    display: none;
  }

  .header__buy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .buy__city-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1260px) {
  .promo__slider-item {
    height: 80vh !important;
    background-position: bottom;
  }

  .promo__title {
    padding: 0;
  }

  .about__title {
    position: relative;
    padding-left: 0;
  }

  .about__title::before {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header__burger {
    display: block;
  }

  .header__menu--mobile {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: #0c4f9e;
  }

  .header__menu-item--mobile {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .header__menu-item--mobile:first-child {
    margin-top: 20px;
  }

  .header__menu-item--mobile a {
    color: #fff;
  }

  .header__btns-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }

  .btn__tel {
    font-size: 16px;
  }

  .header__callback {
    display: none;
  }

  .promo__slider-item {
    background-position: bottom;
    height: 70vh !important;
  }

  .promo__title {
    padding: 0 0 0 0;
  }

  .buy__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .city__item {
    margin-right: 30px;
    margin-left: 30px;
  }

  .buy__adress {
    margin-top: 40px;
  }

  .work__tab-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .tab__img {
    margin-bottom: 20px;
  }

  .work {
    padding: 50px 0 80px 0;
  }

  .work__tabs-item {
    padding: 20px 50px;
  }

  .work__tab-description {
    margin-top: 60px;
  }

  .release__slider-comment {
    margin-top: 40px;
  }

  .release {
    position: relative;
    background: #fafafa;
    background: #fafafa;
    padding: 60px 0 40px 0;
  }

  .release .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0px 0;
    list-style-type: none;
    position: absolute;
    top: 105%;
    width: 100%;
  }

  .slider__text {
    max-width: 685px;
    margin: 0 10%;
  }

  .header__buttons,
  .header__menu {
    display: none;
  }

  .footer__logo {
    margin: 0 auto;
  }

  .promo__arrow--prev {
    top: 57%;
  }

  .promo__arrow--next {
    top: 57%;
  }
}

@media (max-width: 900px) {
  .promo__title {
    font-size: 32px;
    line-height: 52px;
  }

  .promo__title span {
    font-size: 60px;
  }

  .promo__slider-item {
    height: 60vh !important;
  }

  .promo__arrow--prev {
    top: 47%;
  }

  .promo__arrow--next {
    top: 47%;
  }

  .about__description {
    text-align: center;
  }

  .about__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__price-item {
    margin-bottom: 20px;
  }

  .about__buy {
    vertical-align: middle;
    padding: 23px 76px;
  }

  .about__title {
    text-align: center;
  }

  .about__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__price-item {
    margin-top: 20px;
    margin-right: 0;
  }

  .button__buy {
    margin-right: 0;
    margin-left: 0;
    padding: 23px 60px;
  }

  .about__description {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
  }

  .about__description-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-left: 0 !important;
  }
}

@media (max-width: 768px) {
  .promo__slider-item {
    height: 60vh !important;
  }

  .promo__arrow--prev {
    top: 50%;
  }

  .promo__arrow--next {
    top: 50%;
  }

  .advantages {
    padding: 50px 0px;
  }

  .button__buy {
    padding: 20px 50px;
  }

  .partners__slider-item {
    margin-right: 30px;
    margin-left: 30px;
  }

  .work {
    padding: 40px 0 60px 0;
  }

  .work__tabs-item {
    padding: 20px 30px;
  }

  .company__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .company__map {
    display: none;
  }

  .description__text-company {
    margin-bottom: 28px;
  }

  .slider__text {
    max-width: 543px;
    margin: 0 10%;
  }
}

@media (max-width: 600px) {
  .header__callback {
    display: none;
  }

  .promo__title {
    font-size: 23px;
  }

  .promo__title span {
    font-size: 45px;
  }

  .promo .slick-dots button {
    border: 1px solid #0076bd;
    width: 9px;
    height: 9px;
  }

  .promo__arrow--prev {
    top: 42%;
  }

  .promo__arrow--next {
    top: 42%;
  }

  .promo__slider-item {
    height: 48vh !important;
  }

  .advantages__description {
    max-width: 500px;
  }

  .about__item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .buy__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .buy__tabs-item {
    max-width: 100%;
  }

  .buy__tabs-item {
    padding: 15px 28px 15px 26px;
  }

  .buy__search {
    margin-left: -13px;
  }

  .work__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .work__li {
    margin-bottom: 15px;
  }

  .tab__img .img__wrapper img {
    width: 440px;
  }

  .city__item {
    margin-right: 36px;
    margin-left: 36px;
  }

  .slider__text {
    max-width: 443px;
    margin: 0 10%;
  }

  .about__price {
    margin-top: 20px;
  }

  .work__tabs-item::after {
    display: none;
  }
}

@media (max-width: 533px) {
  .promo__arrow--prev {
    top: 44%;
  }

  .promo__arrow--next {
    top: 44%;
  }

  .promo__subtitle {
    font-size: 28px;
    margin-left: 42px;
  }

  .promo__subtitle::before {
    left: -40px;
    width: 34px;
  }

  .about__image img {
    height: 420px;
  }

  .tab__img .img__wrapper img {
    width: 400px;
  }

  .work {
    padding: 30px 30px;
  }

  .slider__text {
    max-width: 381px;
    margin: 0 10%;
  }
}

@media (max-width: 420px) {
  .promo__arrow--prev {
    top: 55%;
  }

  .promo__arrow--next {
    top: 55%;
  }

  .promo__title {
    line-height: 36px;
  }

  .promo__slider-item {
    height: 58vh !important;
  }

  .about__image img {
    height: 320px;
  }

  .tab__img .img__wrapper img {
    width: 360px;
  }

  .slider__text {
    max-width: 296px;
    margin: 0 10%;
  }

  .description__logo {
    display: none;
  }

  .company {
    padding: 20px 0 0 0;
  }
}

@media (max-width: 380px) {
  .promo__title {
    font-size: 16px;
  }

  .promo__title span {
    font-size: 32px;
  }

  .promo__slider-item {
    height: 52vh !important;
  }

  .btn {
    margin-right: 10px;
  }

  .header__burger {
    height: 50px;
    width: 30px;
  }

  .promo__arrow--prev {
    top: 52%;
  }

  .promo__arrow--next {
    top: 52%;
  }
}

@media (max-width: 360px) {
  .tab__img .img__wrapper img {
    width: 300px;
  }

  .work__tab-description {
    margin-top: 20px;
  }

  .title__block {
    font-size: 24px;
    line-height: 31px;
  }

  .slider__text {
    max-width: 250px;
    margin: 0 10%;
  }
}

@media (max-width: 320px) {
  .promo__title {
    font-size: 12px;
  }

  .promo__title span {
    font-size: 28px;
  }

  .promo__subtitle {
    font-size: 25px;
    line-height: 42px;
  }

  .promo__slider-item {
    height: 50vh !important;
  }

  .navigation__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider__numbers {
    margin-right: 10px;
  }

  .btn {
    margin-right: 7px;
  }
}